.sc-form {
  max-width: 500px;
  max-height: 600px;
  margin: 10px auto;
  overflow: auto;

  .sc-field {
    padding-bottom: 15px;

    .sc-input {
      padding: 6px;

      &:focus {
        background: #fff;
        border-color: rgb(198, 224, 243);
      }
    }

    .sc-textarea {
      padding: 6px;
      width: 100%;
      
      &:focus {
        background: #fff;
        border-color: rgb(198, 224, 243);
      }
    }
  
    .help {
      font-size: 12px;
      line-height: 25px;
      clear: both;
    }
  }
}