.sc-feed {
  z-index: 999;
  overflow: auto;
}

.sc-feed .se-intro {
  padding: 10px 25px;
  overflow: hidden;
}

.sc-feed .se-intro .se-document-count {
  float: left;
  color: $light-text-color;
  vertical-align: middle;
  line-height: $base-height;
}

.sc-feed .se-intro .se-new-document-button {
  float: right;
}

.sc-feed .se-feed-empty {
  padding: 40px 25px;
}

.sc-feed .sc-feed-item {
  color: #5F6773;
  padding: 25px 25px 0px;
  background: #d5d7da;
  margin-right: 10px;
  cursor: pointer;
}

.sc-feed .se-modes {
  float: right;
}

.sc-feed .se-modes > button {
  height: 23px;
  padding: 4px;
  margin-left: 4px;
  border-color: #d5d7da;
  color: #d5d7da;
}

.sc-feed .se-modes > button.sm-active {
  border-color: #5F6773;
  color: #5F6773;
}