.sc-button.sm-style-default {
  padding: 0px 20px;
  text-align: center;
  height: 40px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

.sc-button.sm-style-default[disabled=true] {
  opacity: 0.4;
  cursor: default;
}

.sc-button .se-label {
  display: inline-block;
  line-height: 14px;
  margin-left: 6px;
}