.sc-document-viewer {

  > .sc-split-pane {
    width: 100%;
  }

  .sc-layout {
    padding-top: 20px;
  }

  .sc-viewer-toolbar {
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 99;

    .sc-tool-group {
      .se-tool > {
        button {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          line-height: 100px;
          vertical-align: middle;
          padding: 18px;
          font-size: 18px;
          border: 1px solid #ccc;
          background: rgb(130, 148, 204);
          color: #fff;
          opacity: 0.9;
        }
      }

      .se-tool.sm-annotation-tool .se-mode {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 10px;
      }
    }
  }

  .se-scrollable {
    padding-right: 20px;
  }

  .sc-paragraph {
    padding-bottom: 10px;
  }
}