.sc-cover {

  .se-title {
    font-size: 20px;
    font-weight: $strong-font-weight;
    text-align: center;   
  }

  .se-separator {
    height: 1px;
    background: $border-color;
    max-width: 200px;
    margin: $default-padding auto;
  }
}
