.sc-document-summary {
  font-size: 14px;
  padding: 10px 0px;

  .sc-meta-summary > * {
    padding: 5px 0px;
    position: relative;
  }

  .se-rubrics {
    padding: 5px 0px;
    position: relative;

    .sm-leaf-item {
      padding-bottom: 3px;
    }
  }

  .sm-item {
    position: relative;
    padding-left: 30px;
  }

  .fa {
    float: left;
    padding-top: 4px;
  }
}