.sc-toolbar .sm-target-acceptors {
  float: right;
  margin-right: 10px;
}

.se-tool-acceptor button,
.se-tool-moderator button {
  background: #cc8282!important;
  border: none!important;
  color: #fff;
}

.se-tool-acceptor.sm-accepted button,
.se-tool-moderator.sm-moderated button {
  background: #88cc82!important;
}

.sc-feed-item.sm-accepted.sm-moderated {
  border-left: 4px solid #91bb04;
}

.sc-feed-item.sm-not-accepted {
  border-left: 4px solid #bb3704;
}

.sc-feed-item.sm-accepted.sm-not-moderated {
  border-left: 4px solid #ec9e28;
}