.sc-view-document {
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 50%;
  width: 50%;
  background: #fff;
  z-index: 10;

  .no-document {
    text-align: center;
    padding-top: 60px;
  }

  .sc-document-viewer {
    > .sc-split-pane {
      padding-left: 20px;
      width: 100%;
    }
  }
}