.sc-filters {
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  background: #282b2f;
  width: 300px;
  z-index: 999;
  overflow: auto;

  &::-webkit-scrollbar { 
    width: 0 !important 
  }
}