.sc-import-form {
  padding: 40px 20px;

  .se-intro {
    padding: 20px 0px;
  }

  .se-upload-file {
    width: 210px;
    margin: 0px auto;
  }

  .sc-button-group {
    width: 100%;
    padding: 30px;
  }

}