.sc-list-item {
  position: relative;
  color: #5F6773;
  padding: 10px 25px 0px;
  background: #d5d7da;
  margin-right: 10px;
  cursor: pointer;

  &.active {
    background: #2473DA;
    color: #fff;
    margin-right: 0px;
    margin-top: -1px;

    .se-abstract {
      color: rgba(253, 253, 253, 0.75);
    }

    .se-delete-document {
      color: rgba(253, 253, 253, 0.75);
      border: 1px solid rgba(253, 253, 253, 0.75);
    }
  }

  .se-title {
    font-size: 17px;
    line-height: 20px;
    padding: 10px 0px;
    margin-right: 100px;
  }

  .se-accepted {
    padding-right: 5px;
    color: #8BC34A;
  }

  .se-rubrics {
    font-size: 12px;
    margin-right: 100px;

    i {
      padding-right: 5px;
    }
  }

  .se-abstract {
    color: rgba(0,0,0,0.75);
    font-size: 12px;
    margin-right: 100px;
  }

  .se-delete-document {
    position: absolute;
    right: 20px;
    top: 20px;
    color: rgba(177, 0, 0, 0.75);
    border: 1px solid rgba(177, 0, 0, 0.75);
  }

  .se-separator {
    border-bottom: 1px rgba(90, 95, 101, 0.5) solid;
    padding-bottom: 15px;
  }
}