.sc-rubrics-list {
  text-align: center;

  > * {
    display: inline-block;
  }

  .se-rubrics {
    padding: 0px 5px;
    font-style: italic;
  }

  .se-edit-rubrics {
    padding-left: 15px;
    cursor: pointer;
  }
}