.sc-rubrics-list {

  > * {
    display: inline-block;
  }

  .se-rubrics {
    padding: 0px 5px;
    font-style: italic;
    margin: 0px 20px;
    max-width: 83%;
  }

  .se-edit-rubrics {
    padding-left: 15px;
    cursor: pointer;
  }

  .fa {
    padding: 4px 0px;
  }
}